body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #6a0dad, #a678f1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}

.logo {
  width: 100px;
  
}

h2 {
  margin-bottom: 20px;
  color: #4b0082;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  background: #6a0dad;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #4b0082;
}

#message {
  margin-top: 15px;
  color: red;
  font-size: 14px;
}


.register-link {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.register-link a {
  color: #6a0dad;
  font-weight: bold;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
  color: #4b0082;
}
